{{ 'cart.css' | asset_url | stylesheet_tag }}
{{ 'product.css' | asset_url | stylesheet_tag }}

{% form 'cart', cart %}
  <section class="cart">
    <h1 class="cart__label">Your cart</h1>
    
    {% for item in cart.items %}
      <article class="cart__product product">
        <img
        class="product__image"
        src="{{ item.image | image_url }}"
        >
        
        <div class="product__info">
          <h2 class="product__title">
            {{ item.title }}
          </h2>

          <input class="product__quantity-input" name="updates[]" value="{{ item.quantity }}" placeholder="quantity">

          <a class="product__remove-from-cart-btn" href="{{ item.url_to_remove }}">
            Remove
          </a>
        </div>
      </article>
    {% endfor %}

    <hr>

    <p class="cart__total">Total: {{ cart.total_price |  money_without_trailing_zeros }}</p>
  
    <button type="submit" name="update">
      Update
    </button>
  </section>
{% endform %}