{{ 'cart.css' | asset_url | stylesheet_tag }}
{{ 'product.css' | asset_url | stylesheet_tag }}

{% form 'cart', cart %}
  <section class="cart">
    <header class="header">
      <a href="/">Refactor</a>

      <a href="/cart">Cart</a>
    </header>

    <h1 class="cart__label">Your cart</h1>
    
    {% if cart.empty? %}
      <p class="cart__paragraph-cart-empty">
        Hey! Your cart is empty!
      </p>
    {% else %}
      {% for item in cart.items %}
        <article class="cart__product product">
          <img
          class="product__image"
          src="{{ item.image | image_url }}"
          >
          
          <div class="product__info">
            <h2 class="product__title">
              {{ item.title }} | quantity: {{ item.quantity }}
            </h2>

            <a class="product__remove-from-cart-btn" href="{{ item.url_to_remove }}">Remove</a>
          </div>
        </article>
      {% endfor %}
    {% endif %}

    <hr>

    <p class="cart__total">Total: {{ cart.total_price |  money_without_trailing_zeros }}</p>
  </section>
{% endform %}